@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-bg: #F5D6AB;
  --color-progress-bar: #C66C49; }

html,
body,
ul,
li {
  font-size: 10px; }

.container {
  width: 1107px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1110px) {
    .container {
      width: 90%; } }
  @media (max-width: 767px) {
    .container {
      width: 80%; } }

a {
  text-decoration: none; }

.hero {
  height: 100vh;
  background-image: url(../Pics/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 1110px) {
    .hero {
      background-image: none;
      background-color: #ac7630; } }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 93px; }

.logo {
  color: #FFFFFF;
  font-family: Libre Franklin;
  font-weight: bold;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.20833; }

.header-list {
  display: flex;
  justify-content: space-between;
  gap: 60px; }
  @media (max-width: 1110px) {
    .header-list {
      gap: 20px; } }

.header-list__link--selected:hover {
  font-weight: bold; }

.header-list__link {
  font-family: Libre Franklin;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #FFFFFF; }

.container-wrapper {
  display: flex;
  flex-direction: column; }

.hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 145px; }

.title-primary {
  font-family: Libre Franklin;
  font-weight: 400;
  font-style: normal;
  font-size: 6.4rem;
  line-height: 1.21875;
  color: #FFFFFF;
  margin-bottom: 26px; }
  @media (max-width: 1110px) {
    .title-primary {
      text-align: center; } }

.hero-content__text {
  font-family: Libre Franklin;
  font-weight: bold;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.20833;
  margin-bottom: 106px;
  color: #FFFFFF; }
  @media (max-width: 1110px) {
    .hero-content__text {
      margin-bottom: 50px;
      text-align: center; } }

.hero-content__link {
  font-family: Libre Franklin;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.22222;
  color: #FFFFFF;
  text-decoration: 1px underline; }
  @media (max-width: 1110px) {
    .hero-content__link {
      text-align: center; } }

.about {
  padding-top: 76px; }
  @media (max-width: 1110px) {
    .about {
      padding-top: 56px; } }

.title-secondary {
  font-family: Libre Franklin;
  font-weight: bold;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.20833;
  color: #333333;
  margin-bottom: 76px; }
  @media (max-width: 1110px) {
    .title-secondary {
      margin-bottom: 46px; } }

.about__text {
  font-family: Libre Franklin;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #333333;
  margin-bottom: 30px; }
  @media (max-width: 1110px) {
    .about__text {
      font-size: 1.6rem; } }

.about__text-down {
  font-family: Libre Franklin;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #333333;
  margin-bottom: 76px; }
  @media (max-width: 1110px) {
    .about__text-down {
      font-size: 1.6rem;
      margin-bottom: 46px; } }

.skills {
  background-color: #FFFAF2;
  padding-top: 76px;
  padding-bottom: 145px; }
  @media (max-width: 1110px) {
    .skills {
      padding-top: 56px;
      padding-bottom: 100px; } }

.skills-content__img {
  width: 345px;
  height: 350px; }

.skills-content {
  display: flex;
  flex-direction: row;
  gap: 125px; }
  @media (max-width: 1110px) {
    .skills-content {
      gap: 55px; } }

.skills-list {
  width: 635px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  @media (max-width: 1110px) {
    .skills-list {
      width: 500px; } }

.skills-list-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.skills-list-row {
  display: flex; }

.skills-list-row-title {
  font-family: Libre Franklin;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.39;
  color: #333333; }

.skills-list-row-text {
  display: flex;
  font-family: Libre Franklin;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.39;
  color: #333333; }

.skills-list-row-progress-bar-point {
  width: 381px;
  height: 24px;
  background-color: #F5D6AB; }
  @media (max-width: 1110px) {
    .skills-list-row-progress-bar-point {
      width: 320px; } }

.portfolio {
  padding-top: 93px; }
  @media (max-width: 1110px) {
    .portfolio {
      padding-top: 55px; } }

.title-thirdy {
  font-family: Libre Franklin;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.39;
  color: #333333;
  margin-bottom: 48px; }
  @media (max-width: 1110px) {
    .title-thirdy {
      font-size: 1.6rem;
      margin-bottom: 30px; } }

.portfolio-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 125px;
  margin-bottom: 139px; }
  @media (max-width: 1110px) {
    .portfolio-content {
      gap: 65px;
      margin-bottom: 90px; } }

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.arrow-right {
  transform: rotate(180deg);
  margin-left: 14px; }

.portfolio-description {
  font-family: Libre Franklin;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #333333; }

.portfolio_pics {
  display: grid;
  grid-template-columns: 55.12fr 40.15fr;
  grid-template-rows: 35.2fr 14.5fr 35.2fr;
  gap: 30px; }
  @media (max-width: 1110px) {
    .portfolio_pics {
      gap: 23px; } }

.portfolio-img {
  width: 100%; }

.boats {
  grid-area: 1 / 1 / 2 / 2; }

.bridge {
  grid-area: 1 / 2 / 3 / 3; }

.river {
  grid-area: 2 / 1 / 4 / 2; }

.building {
  grid-area: 3 / 2 / 4 / 3; }

.footer {
  background-color: #FFFAF2;
  padding-top: 93px;
  padding-bottom: 189px; }
  @media (max-width: 1110px) {
    .footer {
      padding-top: 50px;
      padding-bottom: 80px; } }

.title__secondary {
  font-family: Libre Franklin;
  font-weight: bold;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.20833;
  margin-bottom: 51px; }

.social-list__item {
  font-family: Libre Franklin;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.22222; }
  @media (max-width: 1110px) {
    .social-list__item {
      font-size: 1.6rem; } }

.footer-content {
  display: grid;
  grid-template-columns: 3fr 1fr; }

.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px; }
  @media (max-width: 1110px) {
    .social-list {
      gap: 10px; } }

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px; }

.contact-mail {
  font-family: Libre Franklin;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.22222;
  color: #333333; }

.contact-phone {
  font-family: Libre Franklin;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #333333; }
