.about {
    padding-top: 76px;
    @include media-tablet {
        padding-top: 56px
    }
    @include media-phone {
        padding-top: 30px;
    }
}
.title-secondary {
    @include text-title;
    color: #333333;
    margin-bottom: 76px;
    @include media-tablet {
        margin-bottom: 46px;
    }
    @include media-phone {
        margin-bottom: 30px;
        text-align: center;
    }
}
.about__text {
    font-family: Libre Franklin;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #333333;
    margin-bottom: 30px;
    @include media-tablet {
        font-size: 1.6rem;
    }
    @include media-phone {
        font-size: 1.4rem;
    }
}
.about__text-down {
    font-family: Libre Franklin;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #333333; 
    margin-bottom: 76px;
    @include media-tablet {
        font-size: 1.6rem;
        margin-bottom: 46px;
    }
    @include media-phone {
        font-size: 1.4rem;
        mask-border: 30px;
    }
}
  
