.about {
    padding-top: 76px;
}
.title-secondary {
    @include text-title;
    color: #333333;
    margin-bottom: 76px;
}
@media (max-width: 1100px) {
    .title-secondary {
        margin-bottom: 46px;
    }
}
.about__text {
    font-family: Libre Franklin;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #333333;
    margin-bottom: 30px;
}
.about__text-down {
    font-family: Libre Franklin;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #333333; 
    margin-bottom: 76px;
}