.footer {
    background-color: #FFFAF2;
    padding-top: 93px;
    padding-bottom: 189px;
    @include media-tablet {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    @include media-phone {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
.title__secondary {
    @include text-title;
    margin-bottom: 51px;
    @include media-phone {
        margin-bottom: 25px
    }
}
.social-list__item {
    @include text-title-thirdy;
    @include media-tablet {
        font-size: 1.6rem;
    }
    @include media-phone {
        font-size: 1.3rem;
    }
}
.footer-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.social-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    @include media-tablet {
        gap: 10px;
    }
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.contact-mail {
    @include text-title-thirdy;
    color: #333333;
    @include media-phone {
        font-size: 1.3rem;
    }
}
.contact-phone {
    font-family: Libre Franklin;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #333333;
    @include media-phone {
        font-size: 1.3rem;
    }
}