.hero {
    height: 100vh;
    background-image: url(../Pics/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 1100px) {

}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
}
.logo {
    color: #FFFFFF;
    @include text-title;
}
.header-list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    @include media-tablet;
}
@media (max-width: 1100px) {
    .header-list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @include media-tablet;
    }
}
.header-list__link--selected:hover {
    font-weight: bold;
}
.header-list__link {
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #FFFFFF;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
}
.hero-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 145px;
}
.title-primary {
    @include text-main;
    margin-bottom: 26px;
}
@media (max-width: 1100px) {
    .title-primary {
        @include text-main;
        margin-bottom: 26px;
        text-align: center
    }
}
.hero-content__text {
    @include text-title;
    margin-bottom: 106px;
    color: #FFFFFF
}
@media (max-width: 1100px) {
    .hero-content__text {
        @include text-title;
        margin-bottom: 50px;
        text-align: center
    }
}
.hero-content__link {
    @include text-title-thirdy;
    color: #FFFFFF;
    text-decoration: 1px underline;
}
@media (max-width: 1100px) {
    .hero-content__link {
        text-align: center;
    }
}