.portfolio {
    padding-top: 93px;
    @include media-tablet {
        padding-top: 55px;
    }
    @include media-phone {
        padding-top: 30px;
    }
}
.title-thirdy {
    font-family: Libre Franklin;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.39;
    color: #333333;
    margin-bottom: 48px;
    @include media-tablet {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    @include media-phone {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
    }
}
.portfolio-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 125px;
    margin-bottom: 139px;
    @include media-tablet {
        gap: 65px;
        margin-bottom: 90px;
    }
    @include media-phone {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 40px;
    }
}
.portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-phone {
        gap: 20px;
    }
}
.arrows {
    @include media-phone {
        text-align: center;
    }
}
.arrow-right {
    transform: rotate(180deg);
    margin-left: 14px;
}
.portfolio-description {
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #333333;
    @include media-phone {
        font-size: 1.5rem;
    }
}
.portfolio_pics {
    display: grid;
    grid-template-columns: 55.12fr 40.15fr;
    grid-template-rows: 35.2fr 14.5fr 35.2fr;
    gap: 30px;
    @include media-tablet {
        gap: 23px;
    }
    @include media-phone {
        gap: 15px;
    }
}
.portfolio-img {
    width: 100%;
}
.boats {
    grid-area: 1 / 1 / 2 / 2;
}
.bridge {
    grid-area: 1 / 2 / 3 / 3;
}
.river {
    grid-area: 2 / 1 / 4 / 2;
}
.building {
    grid-area: 3 / 2 / 4 / 3;
}
