.skills {
    background-color: #FFFAF2;
    padding-top: 76px;
    padding-bottom: 145px;
    @include media-tablet {
        padding-top: 56px;
        padding-bottom: 100px;
    }
}
.skills-content__img {
    width: 345px;
    height: 350px;
}
.skills-content {
    display: flex;
    flex-direction: row;
    gap: 125px;
    @include media-tablet {
        gap: 55px;
    }
}
.skills-list {
    width: 635px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include media-tablet {
        width: 500px;
    }
}
.skills-list-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}
.skills-list-row {
    display: flex;
}
.skills-list-row-title {
    font-family: Libre Franklin;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.39;
    color: #333333;
}
.skills-list-row-text {
    display: flex;
    font-family: Libre Franklin;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.39;
    color: #333333;
}
.skills-list-row-progress-bar-point {
    width: 381px;
    height: 24px;
    background-color: #F5D6AB;
    @include media-tablet {
        width: 320px;
    }
}
